<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanban Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/stylesheets/manage.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="./public/scripts/tabbedcontent.min.js"></script>
    <script src="./public/scripts/WorkItemProxy.js"></script>
    <script src="./public/scripts/util.js"></script>
    <script type="text/javascript">
    //<![CDATA[

    var tabs;
    jQuery(function($) {
        tabs = $('.tabscontent').tabbedContent({loop: true}).data('api');

        // Next and prev actions
        $('.controls a').on('click', function(e) {
            var action = $(this).attr('href').replace('#', '');
            tabs[action]();
            e.preventDefault();
        });
    });

    function FindRecordById() {
        var wi = new WorkItem();
        wi.id = GetValueById('txt-id');
        wi.error = function(response) {
            HandleError("Could not retreive record(s)", response);
        }
        wi.success = function(response) {
            ClearResults();
            AddDisplayRow(response.data);
        }
        wi.FindWorkItem();
    }

    function FindAllRecords()
    {
        ClearResults();
        var wi = new WorkItem();

        wi.error = function(response) {
            HandleError("Could not retreive record(s)", response);
        }
        wi.success = function(response) {
            DisplayAllRows(response.data);
        }
        wi.FindAllWorkItems();
        
    }
    function CreateRecord() {
        var wi = new WorkItem();
        wi.error = function(response) {
            HandleError("Could not create record(s)", response);
        }
        wi.success = function(response) {
            ClearResults();
            SetValueById('txt-id', response.data.id);
            FindRecordById(response.data.id);
        }
        wi.description = GetValueById('txt-description');
        wi.person_id = parseInt(GetValueById('txt-person_id'));
        wi.work_item_group_id = parseInt(GetValueById('txt-work_item_group_id'));
        wi.CreateWorkItem();
    }


    function FindByStateId() {
        var wi = new WorkItem();
        wi.state_id = GetValueById('txt-state_id');

        wi.error = function(response) {
            HandleError("Could not retreive record(s)", response);
        }
        wi.success = function(response) {
            ClearResults();
            DisplayAllRows(response.data);
        }
        wi.FindByStateId();
    }

    function DeleteRecord() {
        var wi = new WorkItem();
        wi.id = GetValueById('txt-id');

        wi.error = function(response) {
            HandleError("Could not update record(s)", response);
        }
        wi.success = function(response) {
            ClearResults();
            DisplayAllRows();
        }
        wi.DeleteWorkItem();
    }

    /*************************************************************************************
     ** UI COde
     *************************************************************************************/


    function ClearResults() {
        document.getElementById('results-tbody').innerHTML = '';
    }

    function DisplayAllRows(data) {
        ClearResults();
        data.forEach( function(result) {
            AddDisplayRow(result);
        });
    }

    function AddDisplayRow(result) {
        var tbody = document.getElementById('results-tbody');
        var html = "";
        html += WrapTag(result.id, "td");
        html += WrapTag(result.state_id, "td");
        html += WrapTag(result.person_name, "td");
        html += WrapTag(result.group_name, "td");
        html += WrapTag(result.description, "td");
        html += WrapTag(result.created_date, "td");
        html += WrapTag(result.created_date, "td");
        html = WrapTag(html, "tr");
        html = tbody.innerHTML + html;
        tbody.innerHTML = html;
    }

    function WrapTag(str, tag) {
        return '<' + tag + '>' + str + '</' + tag + '>';
    }
    //]]>
  </script>
</head>
<body >
    <div class="wrapper">
        <ul>
            <li><a href="#tab-1">Work Items</a></li>
            <li><a href="#tab-2">People</a></li>
            <li><a href="#tab-3">Groups</a></li>
            <li class="controls">
                <ul>
                    <li><a href="#prev">&lsaquo; Prev</a></li>
                    <li><a href="#next">Next &rsaquo;</a></li>
                </ul>
            </li>
        </ul>
        <div class="tabscontent">
            <div id="tab-1">
                <% include manage/tab-1.ejs %>
            </div>
            <div id="tab-2" class="lorem">
            </div>
            <div id="tab-3" class="lorem">
            </div>
        </div>
    </div>

    <div id='div-results' >
        <table class="table" style="float:right; border:1px solid #0f0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Person</th>
                    <th>Geoup</th>
                    <th>State</th>
                    <th>Description</th>
                    <th>Created Date</th>
                    <th>Last update Date</th>
                </tr>
            </thead>
            <tbody id='results-tbody'>
            </tbody>
        </table>
    </div>
  </form>
</body>
</html>