/*
p {
    display: block;
    font-family: monospace;
    margin: 1em 0;
}

select, #text   { outline: 1px solid #ccc; padding: 5px; margin: 5px; } 
                            
.radiused {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2pt 1pt  #ccc;
}        

.outlined {
    outline: 0px solid #ccc; 
    padding: 1px; 
    margin: 5px; 
    overflow: hidden;
}     

.background {
    background-color:#ddd ;
}        


#div-main { 
    width: 100px;
    margin: 0 auto;
}
#div-work_item    {
    width: 500px;
    min-height: 400px;
    float: left;
}

#div-controls  {
    width: 260px;
    min-height: 100px;
    float: left;
}

.input-label {
    display: inline-block;
    width: 140px;
    text-align: right;      
}

.input-field {
    display: table-cell;
    width:350px;
}
*/
