                <div class='management_controls'>
                    <div style="float:left;">
                        <table>
                            <tr><td><input type="button" value="Create new record" onclick="javascript:CreateRecord();"/></td></tr>
                            <tr><td><input type="button" value="Find a record by Id" onclick="javascript:FindRecordById();"/></td></tr>
                            <tr><td><input type="button" value="Update a record" onclick="javascript:UpdateRecords();"/></td></tr>
                            <tr><td><input type="button" value="Delete a record" onclick="javascript:DeleteRecord();"/></td></tr>
                            <tr><td><input type="button" value="Find by StateId" onclick="javascript:FindByStateId();"/></td></tr>
                            <tr><td><input type="button" value="Show All Rows" onclick="javascript:FindAllRecords();"/></td></tr>
                        </table>
                    </div>
                    <div style="float:left;" >
                        <table>
                            <tr>
                                <td><label >Id:</label></td>
                                <td><input  id="txt-id" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >Person Id:</label></td>
                                <td><input  id="txt-person_id" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >Work Item Group Id:</label></td>
                                <td><input  id="txt-work_item_group_id" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >State Id:</label></td>
                            <td> <input  id="txt-state_id" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >Description:</label></td>
                                <td><input  id="txt-description" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >Created Date:</label></td>
                                <td><input  id="txt-created_date" type="text" class="input-field" /></td>
                            </tr>
                            <tr>
                                <td><label >Last update Date:</label></td>
                                <td><input  id="txt-last_update" type="text" class="input-field" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
